extends layout

block content
  div(id="left")
    div(id="lefttop")
      div(id="clock_date")
        canvas(id="canvas_clock")
          script(src='/javascript/analog_clock.js')
    div(id="calendar")
    div(id="steps")
      script(src='/javascript/busstop.js')
    // script(src='/javascript/miband.js')
  div(id="right")
      img(src="/resources/svgTree.svg", id="tree")
      script(src='/javascript/tree.js')
  script(src='/javascript/miband.js')
