extends layout

block content
  div(id="left")
    div(id="lefttop")
      div(id="clockdate")
        div(id="dgClock")
          div(id="dgClockText")
        div(id="dgDate")
          div(id="dgDateText")
        script(src='/javascript/digitalclock.js')
      // canvas(id="canvas_clock")
       // div(id="date")
       //   script(src='/javascript/analog_clock.js')
      div(id="calendar")
      div(id="busstop")
        script(src='/javascript/busstop.js')
    //div(id="steps")
    //  script(src='/javascript/busstop.js')
    // script(src='/javascript/miband.js')
  div(id="right")
    div(id="overlay")
    img(src="/resources/emptyTree.svg", id="tree")
    script(src='/javascript/tree.js')
  script(src='/javascript/miband.js')
