extends layout

block content
  div(id="clockdate")
    dig(id="weather")
      script(src='/javascript/jquery.simpleWeather.js')
      script(src='/javascript/weather.js')
    div(id="dgDate")
      div(id="dgDateText")
    div(id="dgClock")
      div(id="dgClockHourText")
      div(id="dgClockMinuteText")
      div(id="dgClockSecondText")
    script(src='/javascript/digitalclock.js')
  div(id="calendar")
  div(id="busstop")
    script(src='/javascript/busstop.js')
  div(id="right")
    div(id="overlay")
    img(src="/resources/emptyTree.svg", id="tree")
    script(src='/javascript/tree.js')
    div(id="stepSign")
      div(id="steps")
  script(src='/javascript/ReconnectingEventSource.min.js')
  script(src='/javascript/miband.js')
