extends layout

block content
  div(id="left")
    div(id="clock")
    div(id="date")
    script(src='/javascript/clock.js')
    div(id="steps")
  div(id="right")
    p(style="font-size:1.4em;font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;letter-spacing: 0.1em") 'Lucida Sans Unicode', 'Lucida Grande', sans-serif - 1.4em
    p(style="font-size:1.6em;font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;letter-spacing: 0.1em") 'Lucida Sans Unicode', 'Lucida Grande', sans-serif - 1.6em
  script(src='/javascript/miband.js')
