extends layout

block content
  div(id="left")
    div(id="clock")
    div(id="date")
    script(src='/javascript/clock.js')
    div(id="steps")
  div(id="right")
    div(id="container")
        img(src="/resources/svgTree.svg", id="treeImage")
        script(src='/javascript/tree.js')
  script(src='/javascript/miband.js')
