extends layout

block content
  div(id="left")
    div(id="lefttop")
     div(id="circle_container_clock")
        div(id="circle_main_clock")
          div(id="circle_text_container_clock")
            div(id="circle_text_clock")
             div(id="clock")
             div(id="date")
              script(src='/javascript/clock.js')
    div(id="topbottom")
      div(id="circle_container_steps")
        div(id="circle_main_steps")
          div(id="circle_text_container_steps")
            div(id="circle_text_steps")
              div(id="steps") Schritte 286
    div(id="calendar")
  div(id="right")
      img(src="/resources/svgTree.svg", id="tree")
      script(src='/javascript/tree.js')
  script(src='/javascript/miband.js')
