doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/calendar.css')
    link(rel='stylesheet', href='/stylesheets/busstop.css')
    link(rel='stylesheet', href='/stylesheets/digitalclock.css')
    link(rel='stylesheet', href='/stylesheets/stepSign.css')
    link(rel='stylesheet', href='/stylesheets/tree.css')
    link(rel='stylesheet', href='/stylesheets/weather.css')
    link(rel='stylesheet', href='/stylesheets/sign.css')
    script(src='/javascript/jquery-3.2.1.min.js')
    script(src='/javascript/calendar.js')
  body
    block content
