#busstop {
    grid-row: bottom;
    grid-column: left;
}

#busHead {
    /*background: white; */
border-bottom: 1px solid grey;
}

#busHeadH {
    width: 100%;
    font-size: 69px;
    /* color: black; */
    /* padding: 20px; */
    /* border-bottom: 1px solid black; */
}

#busInformation {
    width: 100%;
    color: black;
}

#busstop table {
    border: 1px solid grey;
    border-bottom: 0px;
    color: white;
    width: 100.2%;
    /* margin-left: 2px; */
    /* table-layout: fixed; */
    font-size: 17px;
    /* background: white; */
    text-align: center;
}

#busstop tbody {
    width: 100%;
}

#busstop tr {
    height: 40px;
}

#busstop td:nth-child(1) {
    width: 15%;
    border-bottom: 1px solid grey;

}

#busstop td:nth-child(2) {
    width: 8%;
    color: black;
    background: yellow;
    border-bottom: 1px solid grey;
}

#busstop td:nth-child(3) {
    width: 30%;
    border-bottom: 1px solid grey;

}

#busstop td:nth-child(4) {
    width: 30%;
    border-bottom: 1px solid grey;

}
#busstop td:nth-child(5){
    border-bottom: 1px solid grey;
}

