#busstop {
    margin-top: 285px;
    width: 100%;
}

#busHead {
    background: white;
}

#busHeadH {
    width: 100%;
    font-size: 50px;
    color: black;
    padding: 20px;
    border-bottom: 1px solid black;
}

busInformation {
    width: 100%;
    color: black;
    background: white;
}

table {
    /* border: 2px solid white; */
    color: black;
    width: 100.2%;
    /* margin-left: 2px; */
    /* table-layout: fixed; */
    font-size: 17px;
    background: white;
    text-align: center;
}

tbody {
    width: 100%;
}

tr {
    height: 40px;
}

tr:nth-child(1) {
    background: white;
}

tr:nth-child(2) {
    background: lightgray;
}

tr:nth-child(3) {
    background: white;
}

tr:nth-child(4) {
    background: lightgray;
}

td:nth-child(1) {
    width: 15%;

}

td:nth-child(2) {
    width: 8%;
    background: yellow;
}

td:nth-child(3) {
    width: 30%;

}

td:nth-child(4) {
    width: 30%;

}

