#busstop{
    margin-top: 10px;
}
#busstopHeader{
    background: white;
    border: 2px solid white;
    border-top: 2px solid black;
    border-bottom: none;
    color: black;
    padding: 2px;
    font-size: 47px;
}
#bus{

    width: 99.2%;
    height: 100%;
    margin-left: 0%;
    float: left;
    border-bottom:solid;
    border-right:solid;
}

#busInfo{
    float: left;
    border: 1px solid black;
    padding: 5px;
    height: 75px;
    width: 73.5%;
}
#busNumber{
    float: left;
    border: 1px dotted white ;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    height: 75px;
    width: 19%;
    background-color: #fff;
    color: #000;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    font-size:50px;

}
#busDestination{
    font-weight: bold;
    font-size: 22px;
    padding: 3px 5px;
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#busTime{
    font-size: 15px;
    padding: 0px 5px;
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}