#calendar{
    grid-column: left;
    grid-row: middle;
    color: white;
    padding-left: 50px;
    padding-top: 20px;
}

#calendarHead{
    font-size: 69px;
    border-bottom: 1px solid grey;
}

#calendarEvents {
    display: grid;
    grid-template-columns: 15% 85%;
    height: 75%;
}

.calendarDatetime {
    text-align: center;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 10px;
}

.calendarDay {
    font-size: 40px;
}

.calendarMonth {
    font-size: 20px;
}

.calendarInformation {
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 10px;
}

.calendarTitle {
    font-weight: bold;
    font-size: 22px;
    white-space: nowrap;
    overflow: hidden;
}

.calendarTime {
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.calendarLocation {
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
