#calendar{
    background: white;
    width: 100%;
    margin-top: 268px;
}
#calendarHead{
    background: white;
}
#calendarHeadH{
    width: 100%;
    font-size: 50px;
    color: black;
    padding: 20px;
    border-bottom: 1px solid black;
}
#calendarEvent {
    width: 99.4%;
    /* height: 100%; */
    /* margin-left: 0%; */
    float: left;
    border-bottom: solid;
    border-right: solid;
    /* background: black; */
}

#calendarDatetime {
    float: left;
    border: 1px dotted white;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    height: 75px;
    width: 19%;
    background-color: #fff;
    color: #000;
    /* border-bottom: 1px solid black; */
    border-top: 1px solid black;
}

#calendarDay {
    font-size: 40px;
}

#calendarMonth {
    font-size: 20px;
}

#calendarInformation {
    float: left;
    border: 1px solid black;
    padding: 5px;
    height: 75px;
    width: 73.5%;
}

#calendarTitle {
    font-weight: bold;
    font-size: 22px;
    padding: 3px 5px;
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
}

#calendarTime {
    font-size: 15px;
    padding: 0px 5px;
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#calendarLocation {
    font-size: 15px;
    padding: 0px 5px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
