#clockdate {
    /* width: 100%; */
    grid-row: top;
    grid-column: left;
    padding-top: 10px;
    padding-left: 50px;
    /* text-align: center; */
}

#dgClock {
    float: left;
    /* height: 75px; */
    /* width: 100%; */
    /* background: white; */
    /* padding-left: 26px; */
    /* padding-top: 0px; */
    /* margin-top: -21px; */
}

#dgClockHourText {
    color: white;
    font-size: 69px;
    /* font-weight: bold; */
    float: left;
    /* padding: 14px; */
    /* padding-left: 15%; */
}

#dgClockMinuteText {
    color: white;
    font-size: 69px;
    /* font-weight: bold; */
    /* padding: 14px; */
    float: left;
}

#dgClockSecondText {
    color: grey;
    font-size: 34px;
    /* font-weight: bold; */
    /* padding: 14px; */
    float: left;
    padding-top: 4px;
}

#dgDate {
    float: left;
    /* height: 75px; */
    width: 100%;
    /* background: white; */
    /* margin-top: -109px; */
}

#dgDateText {
    color: grey;
    font-size: 34px;
    /* font-weight: bold; */
    /* padding: 3px; */
    /* padding-top: 55px; */
    /* padding-left: 59px; */
    margin-left: 0%;
    width: 100%;
}