
@keyframes example {
    to {
		transform: rotate(400deg);
		top:98%;
	}
}

#container {
    position:relative;
	overflow:hidden;
}

#leaf0 { position: absolute;
	left: 80.1%;
	top: 20%; 
	width:11px; 
	height:11px;}
	
#leaf1 { position: absolute;
	left: 87.8125%;
	top: 12.88888888888889%; 
	width:11px; 
	height:11px;}
	
#leaf2 { position: absolute;
	left: 91.5%;
	top: 12%; 
	width:11px; 
	height:11px;}

#leaf3 { position: absolute;
	left: 90.4375%;
	top: 20.333333333333332%; 
	width:11px; 
	height:11px;}

#leaf4 { position: absolute;
	left: 85.375%;
	top: 21.88888888888889%; 
	width:11px; 
	height:11px;}
	
#leaf5 { position: absolute;
	left: 84.4375%;
	top: 14.666666666666666%; 
	width:11px; 
	height:11px;}

#leaf6 { position: absolute;
	left: 90.6875%;
	top: 9.333333333333334%; 
	width:11px; 
	height:11px;}

#leaf7 { position: absolute;
	left: 93.8125%;
	top: 8.555555555555555%; 
	width:11px; 
	height:11px;}

#leaf8 { position: absolute;
	left: 96.8125%;
	top: 12.333333333333334%; 
	width:11px; 
	height:11px;}

#leaf9 { position: absolute;
	left: 96.9375%;
	top: 15.777777777777779%; 
	width:11px; 
	height:11px;}

#leaf10 { position: absolute;
	left: 92.9375%;
	top: 16.88888888888889%; 
	width:11px; 
	height:11px;}

#leaf11 { position: absolute;
	left: 90.875%;
	top: 16.22222222222222%; 
	width:11px; 
	height:11px;}

#leaf12 { position: absolute;
	left: 85.375%;
	top: 16.666666666666668%; 
	width:11px; 
	height:11px;}

#leaf13 { position: absolute;
	left: 83.75%;
	top: 17.88888888888889%; 
	width:11px; 
	height:11px;}

#leaf14 { position: absolute;
	left: 81.875%;
	top: 18.88888888888889%; 
	width:11px; 
	height:11px;}

#leaf15 { position: absolute;
	left: 79.9375%;
	top: 28.666666666666668%; 
	width:11px; 
	height:11px;}

#leaf16 { position: absolute;
	left: 85.1875%;
	top: 27.77777777777778%; 
	width:11px; 
	height:11px;}

#leaf17 { position: absolute;
	left: 97.0625%;
	top: 32.22222222222222%; 
	width:11px; 
	height:11px;}

#leaf18 { position: absolute;
	left: 91.5%;
	top: 32.77777777777778%; 
	width:11px; 
	height:11px;}

#leaf19 { position: absolute;
	left: 87.4375%;
	top: 33.333333333333336%; 
	width:11px; 
	height:11px;}

#leaf20 { position: absolute;
	left: 81.3125%;
	top: 31.11111111111111%; 
	width:11px; 
	height:11px;}

#leaf21 { position: absolute;
	left: 79.375%;
	top: 34.55555555555556%; 
	width:11px; 
	height:11px;}

#leaf22 { position: absolute;
	left: 80.625%;
	top: 38%; 
	width:11px; 
	height:11px;}

#leaf23 { position: absolute;
	left: 84.875%;
	top: 38.666666666666664%; 
	width:11px; 
	height:11px;}

#leaf24 { position: absolute;
	left: 89.5625%;
	top: 38.333333333333336%; 
	width:11px; 
	height:11px;}

#leaf25 { position: absolute;
	left: 96.75%;
	top: 35.666666666666664%; 
	width:11px; 
	height:11px;}

#leaf26 { position: absolute;
	left: 94.8125%;
	top: 49.77777777777778%; 
	width:11px; 
	height:11px;}

#leaf27 { position: absolute;
	left: 84.375%;
	top: 51.888888888888886%; 
	width:11px; 
	height:11px;}

#leaf28 { position: absolute;
	left: 81.5%;
	top: 51%; 
	width:11px; 
	height:11px;}

#leaf29 { position: absolute;
	left: 79.3125%;
	top: 43.888888888888886%; 
	width:11px; 
	height:11px;}

#leaf30 { position: absolute;
	left: 83.0625%;
	top: 41.666666666666664%; 
	width:11px; 
	height:11px;}

#leaf31 { position: absolute;
	left: 88.625%;
	top: 43.55555555555556%; 
	width:11px; 
	height:11px;}

#leaf32 { position: absolute;
	left: 90.5625%;
	top: 56.666666666666664%; 
	width:11px; 
	height:11px;}

#leaf33 { position: absolute;
	left: 89.6875%;
	top: 58.77777777777778%; 
	width:11px; 
	height:11px;}

#leaf34 { position: absolute;
	left: 94.5625%;
	top: 44.111111111111114%; 
	width:11px; 
	height:11px;}

#leaf35 { position: absolute;
	left: 94.5%;
	top: 40.666666666666664%; 
	width:11px; 
	height:11px;}

#leaf36 { position: absolute;
	left: 91.6875%;
	top: 32.111111111111114%; 
	width:11px; 
	height:11px;}

#leaf37 { position: absolute;
	left: 92%;
	top: 27.88888888888889%; 
	width:11px; 
	height:11px;}

#leaf38 { position: absolute;
	left: 92.1875%;
	top: 22.666666666666668%; 
	width:11px; 
	height:11px;}

#leaf39 { position: absolute;
	left: 92.6875%;
	top: 20.666666666666668%; 
	width:11px; 
	height:11px;}

#leaf40 { position: absolute;
	left: 94.5625%;
	top: 13.777777777777779%; 
	width:11px; 
	height:11px;}

#leaf41 { position: absolute;
	left: 90.125%;
	top: 7.333333333333333%; 
	width:11px; 
	height:11px;}

#leaf42 { position: absolute;
	left: 81.25%;
	top: 17.22222222222222%; 
	width:11px; 
	height:11px;}

#leaf43 { position: absolute;
	left: 79.1875%;
	top: 26.88888888888889%; 
	width:11px; 
	height:11px;}

#leaf44 { position: absolute;
	left: 78.6875%;
	top: 28.22222222222222%; 
	width:11px; 
	height:11px;}

#leaf45 { position: absolute;
	left: 82.4375%;
	top: 29%; 
	width:11px; 
	height:11px;}

#leaf46 { position: absolute;
	left: 89.125%;
	top: 19.333333333333332%; 
	width:11px; 
	height:11px;}

#leaf47 { position: absolute;
	left: 92.4375%;
	top: 15.11111111111111%; 
	width:11px; 
	height:11px;}

#leaf48 { position: absolute;
	left: 97.9375%;
	top: 20.444444444444443%; 
	width:11px; 
	height:11px;}

#leaf49 { position: absolute;
	left: 93.3125%;
	top: 27.11111111111111%; 
	width:11px; 
	height:11px;}

#leaf50 { position: absolute;
	left: 90.6875%;
	top: 29%; 
	width:11px; 
	height:11px;}

#leaf51 { position: absolute;
	left: 88.4375%;
	top: 30.22222222222222%; 
	width:11px; 
	height:11px;}

#leaf52 { position: absolute;
	left: 84.1875%;
	top: 32.333333333333336%; 
	width:11px; 
	height:11px;}

#leaf53 { position: absolute;
	left: 82.4375%;
	top: 32.77777777777778%; 
	width:11px; 
	height:11px;}

#leaf54 { position: absolute;
	left: 79.25%;
	top: 35.111111111111114%; 
	width:11px; 
	height:11px;}

#leaf55 { position: absolute;
	left: 79.5625%;
	top: 38.22222222222222%; 
	width:11px; 
	height:11px;}

#leaf56 { position: absolute;
	left: 82.5625%;
	top: 38.666666666666664%; 
	width:11px; 
	height:11px;}

#leaf57 { position: absolute;
	left: 85.3125%;
	top: 38.333333333333336%; 
	width:11px; 
	height:11px;}

#leaf58 { position: absolute;
	left: 88.9375%;
	top: 38.22222222222222%; 
	width:11px; 
	height:11px;}

#leaf59 { position: absolute;
	left: 94.0625%;
	top: 33.55555555555556%; 
	width:11px; 
	height:11px;}

#leaf60 { position: absolute;
	left: 95.5625%;
	top: 25.666666666666668%; 
	width:11px; 
	height:11px;}

#leaf61 { position: absolute;
	left: 94.625%;
	top: 21.666666666666668%; 
	width:11px; 
	height:11px;}

#leaf62 { position: absolute;
	left: 92.875%;
	top: 17.666666666666668%; 
	width:11px; 
	height:11px;}

#leaf63 { position: absolute;
	left: 87.25%;
	top: 23.22222222222222%; 
	width:11px; 
	height:11px;}

#leaf64 { position: absolute;
	left: 83.0625%;
	top: 28.444444444444443%; 
	width:11px; 
	height:11px;}

#leaf65 { position: absolute;
	left: 84.1875%;
	top: 34.44444444444444%; 
	width:11px; 
	height:11px;}

#leaf66 { position: absolute;
	left: 91%;
	top: 37.888888888888886%; 
	width:11px; 
	height:11px;}

#leaf67 { position: absolute;
	left: 96.125%;
	top: 39%; 
	width:11px; 
	height:11px;}

#leaf68 { position: absolute;
	left: 98.25%;
	top: 38%; 
	width:11px; 
	height:11px;}

#leaf69 { position: absolute;
	left: 97.5%;
	top: 29.444444444444443%; 
	width:11px; 
	height:11px;}

#leaf70 { position: absolute;
	left: 96.625%;
	top: 24.11111111111111%; 
	width:11px; 
	height:11px;}

#leaf71 { position: absolute;
	left: 93.5625%;
	top: 27%; 
	width:11px; 
	height:11px;}

#leaf72 { position: absolute;
	left: 94.125%;
	top: 38.77777777777778%; 
	width:11px; 
	height:11px;}

#leaf73 { position: absolute;
	left: 96.75%;
	top: 40.55555555555556%; 
	width:11px; 
	height:11px;}

#leaf74 { position: absolute;
	left: 97.5625%;
	top: 45.333333333333336%; 
	width:11px; 
	height:11px;}

#leaf75 { position: absolute;
	left: 96.9375%;
	top: 48.666666666666664%; 
	width:11px; 
	height:11px;}

#leaf76 { position: absolute;
	left: 91.125%;
	top: 60%; 
	width:11px; 
	height:11px;}

#leaf77 { position: absolute;
	left: 87.375%;
	top: 56.666666666666664%; 
	width:11px; 
	height:11px;}

#leaf78 { position: absolute;
	left: 82.9375%;
	top: 54.888888888888886%; 
	width:11px; 
	height:11px;}

#leaf79 { position: absolute;
	left: 81.5625%;
	top: 51.333333333333336%; 
	width:11px; 
	height:11px;}

#leaf80 { position: absolute;
	left: 80.0625%;
	top: 42.77777777777778%; 
	width:11px; 
	height:11px;}

#leaf81 { position: absolute;
	left: 79.5%;
	top: 40.111111111111114%; 
	width:11px; 
	height:11px;}

#leaf82 { position: absolute;
	left: 79.5%;
	top: 34.55555555555556%; 
	width:11px; 
	height:11px;}

#leaf83 { position: absolute;
	left: 85.25%;
	top: 30.11111111111111%; 
	width:11px; 
	height:11px;}

#leaf84 { position: absolute;
	left: 89%;
	top: 31%; 
	width:11px; 
	height:11px;}

#leaf85 { position: absolute;
	left: 93.6875%;
	top: 37.22222222222222%; 
	width:11px; 
	height:11px;}

#leaf86 { position: absolute;
	left: 96.0625%;
	top: 37.77777777777778%; 
	width:11px; 
	height:11px;}

#leaf87 { position: absolute;
	left: 95.5%;
	top: 25.11111111111111%; 
	width:11px; 
	height:11px;}

#leaf88 { position: absolute;
	left: 94.75%;
	top: 18.444444444444443%; 
	width:11px; 
	height:11px;}

#leaf89 { position: absolute;
	left: 95.125%;
	top: 14.444444444444445%; 
	width:11px; 
	height:11px;}

#leaf90 { position: absolute;
	left: 93.25%;
	top: 6%; 
	width:11px; 
	height:11px;}

#leaf91 { position: absolute;
	left: 89.25%;
	top: 10.333333333333334%; 
	width:11px; 
	height:11px;}
	
.leafFallAnimation {
	animation-name: example;
    animation-duration: 8s;
	animation-fill-mode: forwards;
}