
@keyframes example {
    to {
		transform: rotate(400deg);
		top:98%;
	}
}

#container {
    position:relative;
	overflow:hidden;
}

#leaf0 { position: absolute;
	left: 222px;
	top: 36px; 
	width:11px; 
	height:11px;
	animation-name: example;
    animation-duration: 8s;
	animation-fill-mode: forwards;
	transform: rotate(270deg);}

#leaf1 { position: absolute;
	left: 233px;
	top: 56px; 
	width:11px; 
	height:11px;
	animation-name: example;
    animation-duration: 8s;
	animation-fill-mode: forwards;}
	
#leaf2 { position: absolute;
	left: 198px;
	top: 81px; 
	width:11px; 
	height:11px;
	animation-name: example;
    animation-duration: 8s;
	animation-fill-mode: forwards;}
	
#leaf3 { position: absolute;
	left: 199px;
	top: 21px; 
	width:11px; 
	height:11px;
	animation-name: example;
    animation-duration: 8s;
	animation-fill-mode: forwards;}


 #leaf4 { position: absolute;
	left: 194px;
	top: 27px; 
	width:11px; 
	height:11px;
	animation-name: example;
    animation-duration: 8s;
	animation-fill-mode: forwards;}


 #leaf5 { position: absolute;
	left: 194px;
	top: 34px; 
	width:11px; 
	height:11px;
	animation-name: example;
    animation-duration: 8s;
	animation-fill-mode: forwards;}


 #leaf6 { position: absolute;
	left: 190px;
	top: 40px; 
	width:11px; 
	height:11px;
	animation-name: example;
    animation-duration: 8s;
	animation-fill-mode: forwards;}


 #leaf7 { position: absolute;
	left: 189px;
	top: 45px; 
	width:11px; 
	height:11px;
	animation-name: example;
    animation-duration: 8s;
	animation-fill-mode: forwards;}


 #leaf8 { position: absolute;
	left: 181px;
	top: 45px; 
	width:11px; 
	height:11px;
	animation-name: example;
    animation-duration: 8s;
	animation-fill-mode: forwards;}


 #leaf9 { position: absolute;
	left: 180px;
	top: 43px; 
	width:11px; 
	height:11px;
	animation-name: example;
    animation-duration: 8s;
	animation-fill-mode: forwards;}


 #leaf10 { position: absolute;
	left: 174px;
	top: 41px; 
	width:11px; 
	height:11px;
	animation-name: example;
    animation-duration: 8s;
	animation-fill-mode: forwards;}


 #leaf11 { position: absolute;
	left: 177px;
	top: 35px; 
	width:11px; 
	height:11px;
	animation-name: example;
    animation-duration: 8s;
	animation-fill-mode: forwards;}


 #leaf12 { position: absolute;
	left: 177px;
	top: 30px; 
	width:11px; 
	height:11px;
	animation-name: example;
    animation-duration: 8s;
	animation-fill-mode: forwards;}


 #leaf13 { position: absolute;
	left: 170px;
	top: 31px; 
	width:11px; 
	height:11px;
	animation-name: example;
    animation-duration: 8s;
	animation-fill-mode: forwards;}


 #leaf14 { position: absolute;
	left: 164px;
	top: 22px; 
	width:11px; 
	height:11px;
	animation-name: example;
    animation-duration: 8s;
	animation-fill-mode: forwards;}


 #leaf15 { position: absolute;
	left: 151px;
	top: 43px; 
	width:11px; 
	height:11px;
	animation-name: example;
    animation-duration: 8s;
	animation-fill-mode: forwards;}
	
#leaf16{ position: absolute;
	left: 120px;
	top: 191px; 
	width:11px; 
	height:11px;
	animation-name: example;
    animation-duration: 8s;
	animation-fill-mode: forwards;}