
@keyframes example {
    to {
		transform: rotate(400deg);
		top:98%;
	}
}

#container {
    position:relative;
	overflow:hidden;
}

#leaf0 { position: absolute;
	left: 80.1%;
	top: 20%; 
	width:11px; 
	height:11px;}
	
#leaf1 { position: absolute;
	left: 87.8125%;
	top: 12.88888888888889%; 
	width:11px; 
	height:11px;}
	
#leaf2 { position: absolute;
	left: 91.5%;
	top: 12%; 
	width:11px; 
	height:11px;}

#leaf3 { position: absolute;
	left: 90.4375%;
	top: 20.333333333333332%; 
	width:11px; 
	height:11px;}

#leaf4 { position: absolute;
	left: 85.375%;
	top: 21.88888888888889%; 
	width:11px; 
	height:11px;}
	
.leafFallAnimation {
	animation-name: example;
    animation-duration: 8s;
	animation-fill-mode: forwards;
}