#stepSign {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 190px;
    height: 120px;
    padding: 65px 65px 115px 45px;
    background-size: contain;
    background-image: url("/resources/sign.svg");
    background-repeat: no-repeat;
}

#steps {
    width: 100%;
    height: 100%;
}

#steps p {
    text-align: center;
}

#steps table {
    border: none;
}

#steps td:first-child {
    text-align: left;
}

@keyframes fade {
    to {
        opacity: 0;
    }
}

#steps > * {
    animation: fade;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}