html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font: 14px 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    color: white;
    background-color: black;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 0;
    height: 1080px;
    width: 1920px;
    display: grid;
    grid-template-columns: [left] 30%  40%  [right] 30%;
    grid-template-rows: [top] 20% [middle] 40% [bottom] 40%;
}

a {
    color: #00B7FF;
}

#right {
    grid-column: right;
    grid-row: span 3;
    position: relative;
    overflow: ;
}

#clock {
    top:500px;
    font-size: 50px;
}

#date {
    top: 560px;
    font-size: 20px;
}

