body {
  font: 14px 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  color: white;
  background-color: black;
  margin: 0px; 
  padding: 0px;
  letter-spacing: 0.1em;
}

a {
  color: #00B7FF;
}

#right {
  float:right;
}

#left {
  float:left;
  width:20%;
}

#clock {
   text-align: center;
   margin-top: 10%;
   font-size: 5em;
}

#date {
   text-align: center;
   margin-top: -2%;
   font-size: 2.5em;
}

#steps {
   text-align: center;
   margin-top: 15%;
   font-size: 4em;
}

#treeImage {
	width:100%;
	height:auto;
}