body {
    font: 14px 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    color: white;
    background-color: black;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0.1em;
}

a {
    color: #00B7FF;
}

#right {
    float:right;
    height: 100%;
}

#tree {
    <!-- hard coded best way EU --> background-size: 100%;
    position: absolute;
    height: 100%;
    width: 30%;
    bottom: 0;
    right: 0;
}

#left {
    float: left;
    width: 20%;
    min-width: 300px;
}

#lefttop {
    position: relative;
    top: 0%;
    height: 60%;
}

#leftbottom {
    position: relative;
    top: 60%;
    height: 50%;
    background-color: rebeccapurple;
}

#date_old{
    background: red;
    color: gray;
    width: 33%;
}
#date_now{
    background: green;
    color: white;
    width: 33%;
}
#date_new{
    background: red;
    color: gray;
    width: 33%;
}
#calendarDay{

}
#calendarMonth{

}
#calendarInformation{

}
#calendarTitle{

}
#calendarTime{

}
#calendarLocation{

}

#steps {
    border: 1px solid white;
    margin-top: 2px;
    font-size: 4em;

}
