html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
  font: 14px 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  color: white;
  background-color: black;
  letter-spacing: 0.1em;
}

a {
    color: #00B7FF;
}

#right {
    height: 90%;
    position: relative;
    margin-bottom: 5%;
}



#left {
    float: left;
    width: 20%;
    min-width: 300px;
}

#lefttop {
    position: absolute;
    top: 0%;
    height: 60%;
    width: 20%;
}

#leftbottom {
    position: relative;
    top: 60%;
    height: 50%;
    background-color: rebeccapurple;
}

#clock {
    top:500px;
    font-size: 50px;
}

#date {
    top: 560px;
    font-size: 20px;
}

