html {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    /*cursor: none !important;*/
}

body {
    font: 14px 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    color: white;
    background-color: black;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 50px;
    height: 980px;
    width: 1820px;
    display: grid;
    grid-template-columns: [left] 30%  40%  [right] 30%;
    grid-template-rows: [top] 20% [middle] 40% [bottom] 40%;
    overflow: hidden;
}

.header {
    font-size: 58px;
}

a {
    color: #00B7FF;
}

#right {
    grid-column: right;
    grid-row: span 3;
    position: relative;
}

#clock {
    top:500px;
    font-size: 50px;
}

#date {
    top: 560px;
    font-size: 20px;
}


