/*html, body {
	height: 100%;
	margin: 0;
}

#container {
	margin: 50px;
	border: 1px solid black;
	width: 80%;
	height: 80%;
	position: relative;
}*/

#overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

#tree {
	height: 100%;
	position: absolute;
	right: 0;
}

.leaf {
	position: absolute;
	transform-origin: bottom left;
}

@keyframes exampleAnimation {
to {
		transform: rotate(400deg);
		top:98%;
	}
}

.leafFallAnimation {
	animation-name: exampleAnimation;
	animation-duration: 8s;
	animation-fill-mode: forwards;
}

@keyframes reappearAnimation {
from {
		width: 0;
		height: 0;
	}
}

.leafReappearAnimation {
	animation-name: reappearAnimation;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}